<header>
  <h1>rare-answer</h1>
  <nav>
    <li><a href="/signout">ほなさいなら</a></li>
  </nav>
</header>
<main>
    <form action="/post" method="post" enctype="multipart/form-data">
        <input type="file" name="photo">
        <input type="submit" value="これどや！">
    </form>
</main>