<form action="/signin" method="post">
    <input type="text" name="user_name" placeholder="ユーザーネーム"><br>
    <input type="password" name="password" placeholder="パスワード"><br>
    <input type="submit" value="ログイン"><br>
</form>
